{% extends 'layout.twig' %}

{% block title %}Título Index{% endblock %}

{% block aplicacao %}
    <h1>Essa é a minha index.</h1>
{% endblock %}

{% block conteudo %}
    Olá mundo! Esse é o index.
{% endblock %}