<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>JOOHN {% block pageTitle %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 jumbotron">
                <h1>{% block title %}{% endblock %}</h1>
            </div>
        </div>
        {% block conteudoWrapper %}
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-offset-3 col-md-6">
                    <form action="{{ path('clientes') }}" method="get">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" value="{{ search['search'] }}" placeholder="Digite aqui para buscar...">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary">BUSCAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    {% block conteudo %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
</body>
</html>